<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <a href="/">Home Page</a>
    <a href="/about">About Me</a>
</head>

<body>
	<img src="{{image}}">
</body>

{{> footer}}

</html>